@mixin flexColCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flexRowCenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin BtnGreen {
  width: 100px;
  margin: 15px;
  font-size: 16px;
  background-color:rgb(147, 206, 147);
  color: #000;
  @include flexColCenter();
  cursor: pointer;
}

@mixin BtnRed {
  width: 100px;
  margin: 15px;
  font-size: 16px;
  background-color:rgb(233, 150, 150);
  color: #000;
  @include flexColCenter();
  cursor: pointer;
}

@mixin BtnBlue {
  width: 100px;
  margin: 15px;
  font-size: 16px;
  background-color:rgb(168, 201, 240);
  color: #000;
  @include flexColCenter();
  cursor: pointer;
}

.App{
  @include flexColCenter();
  width: 100vw;
  .control-wrap{
    @include flexRowCenter();
    .btn-start {
      @include BtnGreen()
    }
    .btn-stop{
      @include BtnRed()
    }
  }
  .VideoContainer{
    width: 50vw;
    height: 30vh;
    .video {
      width: 50vw;
      height: 30vh;
    }
    .handimg{
      width: 100px;
      height: 100px;
    }
  }
}